body{margin: 0;	
	background-color:#2C4C60;
	z-index:0;
}
h1{color:white;
	text-align: center;}
table{text-align: center;height:10%;width: 100%;border: 1px,solid,white;}
td,td{text-align: center;border: 1px,solid,white;}
#h1{height:100%;width: 100%;}
#body{
	text-align:center;
	background-position:center;
	position: absolute;
	box-sizing: border-box;
	left: 130px;
	height:100%;
	width:80%;
	background-repeat:no-repeat;
	z-index:1;
	background-color:rgba(255, 255, 255, 0.5);}
p,a{}